html {
  width: 98vw;
  height: 100vh;
}

body {
  display:flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(to bottom right, white, rgba(67, 188, 205, .25));
}

#root {
  width: 100%;
}

/* header css */

#header {
  background-image: linear-gradient(to bottom right, #F9C80E, #F9B014);
  border-radius: 1rem;
}

#logo-box {
  height: 6rem;
  width: 6rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-img {
  border-radius: 1rem;
  border: solid 2px aliceblue;
}

/* timer css */

#timer {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 3rem;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 900;
  color: #F9C80E;
  background-image: linear-gradient(to bottom right, #EA3546, #C9335B);
  border-radius: 1rem;
  border: solid 2px #F9C80E
}

/* center columns */

#columns {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100%;
  gap: 1.5rem;
  height: 60vh;
}

/* SideBar Css */

#side-bar {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  height: 100%;
  background-image: linear-gradient(to bottom right, #F86624, #F55A2D);
  border-radius: 1rem;
}

#side-bar-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* Action box css */

#action-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  background-image: linear-gradient(to bottom right, #662E9B, #5D52A8);
  border-radius: 1rem;
  padding: 1rem;
  color: white;
}

#message-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* Chat box css */

#chat-box {
  display: flex;
  height: 100px;
  flex: 1, 1, 100%;
  background-image: linear-gradient(to bottom right, #EA3546, #C9335B);
  border-radius: 1rem;
  margin-top: 1.5rem;
}

/* number keyboard css */

.num-col {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}

.num-keyboard, .ctrl-keyboard {
  display: flex;
  justify-content: space-between;
}

.num-keyboard {
  justify-content: center;
  flex-wrap: wrap;
}

.ctrl-keyboard {
  justify-content: center;
  flex-grow: 2;
  margin-left: 1rem;
  margin-right: 1rem;
}

#keyboard, #answer-input, #answers-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 auto;
  max-height: 10rem;
  width: 90%;
  height: 100%;
  padding: 1rem;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 1), rgba(255, 255, 255, .5));
  box-shadow: 1px 1px 5px black;
  border-radius: 1rem;
  margin: 1rem;
}

/* answer box css */

#answers-box {
  overflow: hidden;
  min-height: 5rem;
}

.answers-list {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #662E9B rgb(0,0,0,0) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.answer {
  border-bottom: 1px #662E9B solid;
  width: 95%;
}

#keyboard {
  max-height: 20rem;
  flex-direction: column;
}

#key-input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 1rem;
}

#keyboard-input {
  height: 50px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  color: black;
  border-radius: 25px;
}

/* Answer Input css */

#answer-input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: wrap;
}

.text-input {
  height:3rem;
  border: 2px solid aliceblue;
  border-radius: 1rem;
  background: #43BCCD;
  color: #F9C80E;
  font-size: 2rem;
  font-weight: 700;
  padding: 10px 20px;
  box-shadow: 1px 1px 5px black;
}

/* Button css */

.generic-btn, .submit-btn, .back-btn {
  box-shadow: 1px 1px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  border: solid 1px white;
  font-size: 2rem;
  margin: .25rem;
  padding: 10px;

}

.back-btn, .submit-btn {
  font-size: 1rem;
}

@media only screen and (max-width: 950px) {
  #columns {
    display: flex;
    flex-direction: column;
  }
  #side-bar {
    max-height: 20%;
  }

   #side-bar-items {
    flex-direction: row;
  }

  .text-input {
    font-size: 1.25rem;
    max-width: 100%;
  }

  .generic-btn {
    max-width: 20%;
  }

  #message-div {
    font-size: 1.5rem;
  }
}

