/* body {
  width: 100vw;
} */

.generic-btn, .ctrl-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  font-size: 2rem;
  margin: .25rem
}

.ctrl-btn {
  font-size: 1rem;
}

.num-keyboard, .ctrl-keyboard {
  display: flex;
  width: 100%;
}

.num-keyboard {
  justify-content: right;
}

.ctrl-keyboard {
  margin-left: 1rem;
  margin-right: 1rem;
}

.keyboard {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#key-input-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#keyboard-input {
  height: 50px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  color: black;
  border-radius: 25px;
}